.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(#415a77, #adb5bd);
}

.content {
    border-radius: 10px;
    min-width: 35%;
    min-height: 50%;
    background-color: #fff;
}

.title {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 9px;
}

.input {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    margin: 0 50px;
}

.input-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    input {
        flex: 1;
        caret-color: var(--primary);
        padding: 10px 8px;
        font-size: 1.6rem;
    }

    &:focus-within {
        border-color: #457b9d;
    }
}

.show-err {
    color: red;
    font-size: 1.6rem;
    // margin: 0 50px 10px;
}

.showPwdIcon {
    margin-right: 5px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button-login {
    margin: 8px 0;
    color: #fff;
    width: 100px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #1982c4;
    text-align: center;

    &:hover {
        cursor: pointer;
        background-color: #457b9d;
    }
}

.link {
    margin: 8px 50px 0;
}

.link-button {
    color: #1982c4;
    margin-left: 5px;

    &:hover {
        color: #457b9d;
    }
}
