.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes modalFalein{
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content {
    min-width: 500px;
    min-height: 300px;

    max-width: 1000px;
    max-height: 600px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: auto;

    &.show {
        animation: modalFalein ease 0.7s;
    }
}

// .modal-header, .modal-footer {
//     padding: 10px;
// }

.modal-header {
    padding: 20px 10px 10px;
    display: flex;
    justify-content: center;
}

.modal-close {
    font-size: 1.7rem;
    padding: 8px;
    margin: 4px 6px;
    border-radius: 3px;
    background-color: transparent;
    float: right;
    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #ccc;
    }
}
